@import '../../styles/colors';
@import '../../styles/transitions';

.container {
    @include default-transition;
}

.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba($primary-color, 0.25);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    @include default-transition;
}

.spinner {
    color: $pink-color;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
