@import '../../styles/colors';

$grid-width: 200px;
$grid-height: 310px;

.container {
    padding: 50px;

    display: grid;
    grid-template-rows: repeat(5, 580px);
    grid-template-columns: repeat(5, 350px);
    grid-gap: 10px;

    background: $main-background-color;

    height: 100%;
}

.link {
    text-decoration: none;
}
